@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  background-color: #0a192f;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto; 
  background-color: #0a192f;
}
